::selection {
    background: #14ffec;
    color: #0d7377;
}

body {
    color: white;
    background: #212121;
}

a {
    color: white;
}

a:hover {
    color: #0d7377;
}

a:active {
    color: #5d8393;
}

div.top-margin {
    margin : 30px;
}

div.bottom-margin {
    margin : 30px;
}

.centered-text {
    text-align : center;
}

.green {
    color : #0d7377;
}

.title-text {
    font-size : 36px;
}

img.clippy {
    position   : relative;
    top        : 3px;
    margin-top : -3px;
}

div.crypto-icon-col {
    text-align : right;
}

div.crypto-input-col {
    text-align : center;
}

div.crypto-clipboard-btn-col {
    text-align : left;
}

img.crypto-icon {
    margin-top : 3px;
}

input.crypto-input {
    width : 100%;
}

.thank-you-text {
    font-size : 28px;
}
