@media screen and (max-width: 1023px) {
	/* begin scrollUpButton */
	.scrollUpButton {
		top: auto;
		bottom: 30px;
		right: 30px;
		padding-top: 14%;
		width: 14%;
		height: 0px;
		border-radius: 0px;
		background-image: url(../images/mobile-menu-button.png);
		background-size: 75% 75%;
	}
	/* end scrollUpButton */
	/* begin activateBar */
	.activateBar,
	.activateBarLogo {
		display: none;
	}
	/* end activateBar */
	/* begin nav */
	.nav {
		width: 100%;
	}
	.navItem,
	.navMobileItem,
	.navLastItem {
		margin-top: 30px;
		margin-bottom: 30px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		border: 0px;
		font-size: 3em;
		text-align: center;
		float: none;
	}
	.navMobileItem {
		display: block;
	}
	.navItem:visited,
	.navMobileItem:visited,
	.navLastItem:visited {
		font-size: 3em;
	}
	.navIcon {
		margin: 0px auto;
		padding-top: 30px;
		padding-bottom: 30px;
		width: 150px;
		height: auto;
		float: none;
	}
	/* end nav */
	/* begin title */
	.title,
	.mobileTitle {
		padding-top: 30px;
		padding-bottom: 30px;
		min-width: 0;
	}
	.mobileTitle {
		display: block;
	}
	.titleContent {
		padding-left: 45px;
		font-size: 3em;
	}
	/* end title */
	/* begin presentation */
	.presentation {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
	}
	.presentationLeft {
		padding-top: 60px;
		width: 100%;
		text-align: center;
		float: none;
	}
	.presentationRight {
		padding-top: 60px;
		padding-bottom: 60px;
		padding-right: 0px;
		margin: 0px auto;
		width: 85%;
		height: auto;
		float: none;
	}
	.presentationLeftPhoto {
		width: 60%;
		height: auto;
	}
	.presentationRightMessage {
		font-size: 4em;
	}
	/* end presentation */
	/* begin projects */
	.projects {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
		height: auto;
	}
	.projectsLeft,
	.projectsRight {
		display: none;
	}
	.projectsCenter {
		position: static;
		width: 100%;
		height: auto;
	}
	.projectsCenterProject,
	.projectsCenterHiddenProject {
		position: static;
		width: 100%;
		height: auto;
	}
	.projectsCenterProjectLeft,
	.projectsCenterProjectRight {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		height: auto;
		float: none;
	}
	.projectsCenterProjectLeft {
		padding-top: 90px;
		text-align: center;
	}
	.projectsCenterProjectRight {
		margin: 0px auto;
		padding-top: 60px;
		padding-bottom: 30px;
		width: 92%;
	}
	.projectsCenterProjectLeftImage {
		width: 75%;
		height: auto;
	}
	.projectsCenterProjectRightDescription {
		font-size: 3.5em;
	}
	/* end projects */
	/* begin about */
	.about {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
		height: auto;
	}
	.aboutContent {
		position: static;
		width: 100%;
		height: auto;
		float: none;
	}
	.aboutContentSheet,
	.aboutContentHiddenSheet {
		position: static;
		margin-left: 0px;
		margin-right: 45px;
		padding-top: 45px;
		padding-bottom: 45px;
		margin: 0px auto;
		width: 85%;
		height: auto;
	}
	.aboutContentSheetMessage {
		font-size: 4em;
	}
	.aboutContentSheetSkillsTitle {
		font-size: 4em;
	}
	.aboutContentSheetSkillsSkill {
		margin-left: 2%;
		margin-right: 2%;
		width: 21%;
		height: auto;
	}
	.aboutButtons {
		display: none;
	}
	.aboutPhotoContainer {
		padding-top: 45px;
		padding-bottom: 45px;
		width: 100%;
		height: auto;
		float: none;
	}
	.aboutPhotoWrapper {
		text-align: center;
	}
	.aboutPhoto {
		margin-right: 0px;
		width: 60%;
		height: auto;
	}
	/* end about */
	/* begin contact */
	.contact {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 100%;
		height: auto;
	}
	.contactLeft {
		margin-left: 0px;
		margin: 0px auto;
		padding-top: 90px;
		padding-bottom: 90px;
		width: 90%;
		height: auto;
		float: none;
	}
	.contactRight {
		margin-right: 0px;
		padding-bottom: 90px;
		width: 100%;
		height: auto;
		float: none;
	}
	.contactRightGmailButtonLink:hover>.contactRightGmailButtonLinkIcon {
		width: 35%;
		height: auto;
	}
	.contactRightGmailButtonLink:active>.contactRightGmailButtonLinkIcon {
		width: 30%;
		height: auto;
	}
	.contactRightGmailButtonLink:hover>.contactRightGmailButtonLinkEmail {
		font-size: 2.25em;
	}
	.contactRightGmailButtonLinkIcon {
		width: 30%;
		height: auto;
	}
	.contactRightGmailButtonLinkEmail {
		margin-top: 0px;
		padding-top: 30px;
		font-size: 1.75em;
	}
	/* end contact */
	/* begin footer */
	.footer {
		padding-top: 30px;
		padding-bottom: 220px;
		width: 100%;
		min-width: auto;
		height: auto;
	}
	.footerContent {
		padding: 0px;
		width: 85%;
		font-size: 2em;
		text-align: center;
	}
	/* end footer */
}

@media screen and (max-width: 700px) {
	/* begin nav */
	.navItem,
	.navMobileItem,
	.navLastItem {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.5em;
	}
	.navItem:visited,
	.navMobileItem:visited,
	.navLastItem:visited {
		font-size: 1.5em;
	}
	.navIcon {
		padding-top: 15px;
		padding-bottom: 15px;
		width: 75px;
	}
	/* end nav */
	/* begin title */
	.title,
	.mobileTitle {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.titleContent {
		padding-left: 23px;
		font-size: 1.5em;
	}
	/* end title */
}

@media screen and (max-width: 700px) {
	/* begin presentation */
	.presentationLeft {
		padding-top: 30px;
	}
	.presentationRight {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.presentationRightMessage {
		font-size: 2em;
	}
	/* end presentation */
	/* begin projects */
	.projectsCenterProjectLeft {
		padding-top: 45px;
	}
	.projectsCenterProjectRight {
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.projectsCenterProjectRightDescription {
		font-size: 1.75em;
	}
	/* end projects */
	/* begin about */
	.aboutContentSheet,
	.aboutContentHiddenSheet {
		padding-top: 22.5px;
		padding-bottom: 22.5px;
	}
	.aboutContentSheetMessage {
		font-size: 2em;
	}
	.aboutContentSheetSkillsTitle {
		font-size: 2em;
	}
	.aboutPhotoContainer {
		padding-top: 22.5px;
		padding-bottom: 22.5px;
	}
	/* end about */
	/* begin footer */
	.footer {
		padding-top: 15px;
		padding-bottom: 110px;
	}
	.footerContent {
		font-size: 1em;
	}
	/* end footer */
}

@media screen and (max-width: 360px) {
	/* begin presentation */
	.presentationLeft {
		padding-top: 15px;
	}
	.presentationRight {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.presentationRightMessage {
		font-size: 1em;
	}
	/* end presentation */
	/* begin projects */
	.projectsCenterProjectLeft {
		padding-top: 22.5px;
	}
	.projectsCenterProjectRight {
		padding-top: 15px;
		padding-bottom: 7.5px;
	}
	.projectsCenterProjectRightDescription {
		font-size: 0.875em;
	}
	/* end projects */
	/* begin about */
	.aboutContentSheet,
	.aboutContentHiddenSheet {
		padding-top: 11.25px;
		padding-bottom: 11.25px;
	}
	.aboutContentSheetMessage {
		font-size: 1em;
	}
	.aboutContentSheetSkillsTitle {
		font-size: 1em;
	}
	.aboutPhotoContainer {
		padding-top: 11.25px;
		padding-bottom: 11.25px;
	}
	/* end about */
	/* begin footer */
	.footer {
		padding-top: 8px;
		padding-bottom: 55px;
	}
	.footerContent {
		font-size: 0.5em;
	}
	/* end footer */
}

@media screen and (max-width: 510px) {
	/* begin contact */
	.contactLeft {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.contactRight {
		padding-bottom: 45px;
	}
	.contactRightGmailButtonLink:hover>.contactRightGmailButtonLinkEmail {
		font-size: 1.125em;
	}
	.contactRightGmailButtonLinkEmail {
		padding-top: 15px;
		font-size: 0.875em;
	}
	/* end contact */
}
