---
import Body from "../components/page/Body.svelte";
import Head from "../components/page/Head.svelte";
import Page from "../components/page/Page.svelte";
---

<Page>
	<>
		<Head title="Contact | Edgar's Portfolio">
			<meta name="generator" content={Astro.generator} />
		</Head>

		<Body>
			<>
				<h1>Contact</h1>

				<p>
					<a href="mailto:email@example.com">email@example.com</a>
				</p>
			</>
		</Body>
	</>
</Page>
