---
import Body from "../components/page/Body.svelte";
import Head from "../components/page/Head.svelte";
import Page from "../components/page/Page.svelte";
---

<Page>
	<>
		<Head title="Welcome to Edgar's Portfolio!">
			<meta name="generator" content={Astro.generator} />
		</Head>

		<Body>
			<>
				<h1>Edgar Franco</h1>

				<p>
					Senior Software Engineer and FullStack Web Developer with
					more than 10 years of experience.
				</p>
			</>
		</Body>
	</>
</Page>
