---
import Body from '../components/page/Body.svelte';
import Head from '../components/page/Head.svelte';
import Page from '../components/page/Page.svelte';
import Canvas from '../components/Canvas.svelte';
---

<Page>
	<>
		<Head title="Test 2">
			<></>
		</Head>
		<Body>
			<Canvas client:only="svelte" transition:persist="3d-scene" />
		</Body>
	</>
</Page>
