---
import ClientRouter from 'astro/components/ClientRouter.astro';
import Body from '../components/page/Body.svelte';
import Head from '../components/page/Head.svelte';
import Page from '../components/page/Page.svelte';
import Scene from '../components/models/model/TestScene1.svelte';
---

<Page>
	<>
		<Head title="Test Scene 1">
			<>
				<meta name="generator" content={Astro.generator} />
				<ClientRouter />
			</>
		</Head>
		<Body>
			<h1>Edgar Franco</h1>

			<p>
				Senior Software Engineer and FullStack Web Developer with more than 10 years of
				experience.
			</p>

			<nav>
				<ul>
					<li>
						<a href="/test-scene-2">Contact</a>
					</li>
				</ul>
			</nav>

			<Scene client:only="svelte" />
		</Body>
	</>
</Page>
